<%= render partial: "/home/dialog" %>
<%= render partial: "/home/dialog_show" %>

<br/>

<div class="wrapper">

	<table class="table table-hover table-striped table-bordered">
		<thead class="thead-dark">
			<tr>
				<th width="5%" scope="col">#</th>
				<% @days.each do |d| %>
					<th scope="col"><%= d.name %></th>
				<% end %>
			</tr>
		</thead>
		<tbody>

			<% @hours.each do |h| %>
				<tr>
					<th class="hour"><%= h.hour %></th>
					<% @days.each do |d| %>
						<td>

							<% d.habbits_by_hour(h).each do |habbit| %>
								<div data-id="<%= habbit.id %>" data-day="<%= d.name %>" data-hour="<%= h.hour %>">
									<%= habbit.title %>
								</div>
							<% end %>

						</td>
					<% end %>
				</tr>
			<% end %>

		</tbody>
	</table>

</div>
