<!DOCTYPE html>
<html>
<head>
	<title>MyHabbits</title>
	<%= csrf_meta_tags %>

	<%= favicon_link_tag %>
	<%= stylesheet_link_tag 'application', media: 'all' %>
	<link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
</head>
<body class="mdc-typography">

	<div class="mdc-toolbar mdc-toolbar--fixed">
		<div class="mdc-toolbar__row">
			<section class="mdc-toolbar__section mdc-toolbar__section--align-start">
				<button class="menu material-icons mdc-toolbar__menu-icon">menu</button>
				<span class="mdc-toolbar__title catalog-title">MyHabbits</span>
			</section>
		</div>
	</div>

	<%= render partial: "/layouts/sidebar" %>

	<main class="mdc-toolbar-fixed-adjust">
		<br/>
		<%= yield %>
	</main>

	<%= javascript_include_tag 'application', 'https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js' %>
</body>
</html>
